*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #f6f8fb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form{
    background: white;
    padding: 2rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 400px;
    overflow-y: scroll;
    height: 75vh;
}

h2{
    text-align: center;
    margin-bottom: 1rem;
}

.form-group{
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

label{
    display: block;
    margin-bottom: 0.4rem;
    font-weight: 500;
    padding-left: 0.3rem;
}

input, select, textarea{
    width: 100%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 6px;
    outline: none;
}

input:focus, select:focus, textarea:focus{
    border-color: #007bff;
}

button{
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #0056b3;
}

.hidden{
    display: none;
}

.show{
    animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateX(15px);
    } 
    to{
        opacity: 1;
        transform: translateX(0);
    }
}